.top-nav-bar{
    background-color: var(--main-ibm-blue);
    padding: 1.1rem 1rem;
    /* height: 50px; */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

.top-nav-bar .top-nav-bar-logo {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 1rem;
}

.top-nav-bar .top-nav-bar-logo img {
    width: 6.2vw;
    margin-right: 2rem;
}

.top-nav-bar .top-nav-bar-logo h2 {
    color: white;
    font-size: 2rem;
    font-weight: 300;
}

.top-nav-bar .top-nav-bar-signout-button {
    display: flex;
    align-items: center;
    width: 120px;
    justify-content: flex;
    margin-right: 0.5rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: white;
    background-color: var(--grey-highlight);
    border: none;
    padding: 0 0.4rem;
}