@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&display=swap');

:root {

  --primary-dark-background: #161616;
  --main-ibm-blue: #0F62FE;
  --form-input-background: #262626;
  --form-stroke: #6F6F6F;
  --grey-highlight: #393939;
  --form-text-color: #F4F4F4;
  --form-label-color: #C6C6C6;
  --form-error-border-color: #FA4D56;
  font-family: 'IBM Plex Sans';
  font-weight: 300;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  background-color: var(--primary-dark-background);
}

h1 {
  color: white;
}
